In [1]:
import sys
sys.path.append(r"C:\Users\rjbel\Python\Notebooks\Mapua")

In [2]:
from DataLoaders.settings import Settings
from DataLoaders.revenues import Revenues
from DataLoaders.enrollees import Enrollees
from FeatureEngineering.credit_sales_eda import CreditSales

In [3]:
setting = Settings()

settings = setting.get_configs()
directory = setting.get_sub_directories()

In [4]:
revenues = Revenues(directory['revenues_folder'], directory)
df_revenues = revenues.show_data()
df_revenues.reset_index(inplace=True)
df_revenues = df_revenues.rename(columns={'index': 'entry_number'})

Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2014.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2019.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2020.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2015.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2018.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2016.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2017.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2025.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2022.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2024.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2026.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2023.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2021.xlsx.

In [5]:
df_revenues

,entry_number,entry_date,due_date,school_year,student_id_pseudonimized,category_name,discount_refund_applied_to,amount_due,amount_paid,account_name,receivables
0,0,2025-10-13,2025-10-13,2014,9XBPS6GQ,Form 137,NaN,150.00,150.0,G-Cash,0.00
1,1,2016-01-01,2016-01-01,2016,QCNXOF71,Back Account,NaN,3524.00,0.0,Not Applicable,3524.00
2,2,2016-01-01,2016-01-01,2016,UFN5RBCA,Back Account,NaN,9831.00,0.0,Not Applicable,9831.00
3,3,2016-01-01,2016-01-01,2016,CATF26JR,Back Account,NaN,9240.00,0.0,Not Applicable,9240.00
4,4,2016-01-01,2016-01-01,2016,TE11Z2LJ,Back Account,NaN,5886.00,0.0,Not Applicable,5886.00
...,...,...,...,...,...,...,...,...,...,...,...
50190,52905,2026-01-23,2026-08-07,2026,PX81YJKS,SpE-OF-1st,NaN,8133.00,8133.0,Bank,0.00
50191,52906,2026-01-23,2026-12-04,2026,PX81YJKS,SpE-OF-2nd,NaN,8133.00,0.0,Not Applicable,8133.00
50192,52907,2026-01-23,2027-03-05,2026,PX81YJKS,SpE-OF-3rd,NaN,8134.00,0.0,Not Applicable,8134.00
50193,52908,2026-01-23,2026-07-11,2026,PX81YJKS,G08-B-UE,NaN,10800.00,9720.0,Cash,1080.00
50194,52909,2026-01-23,2026-01-23,2026,PX81YJKS,Discount - Early Enrollee,NaN,-0.15,0.0,Not Applicable,-0.15

In [6]:
df_revenues.to_excel(r"Database\revenues_pseudonymized.xlsx", index=False)

In [7]:
enr = Enrollees(df_revenues)
df_enrollees = enr.show_data()
df_enrollees

,school_year,student_id_pseudonimized,plan_type,grade_level,enrollment_date,education_level,has_refunded
0,2018,08GNGU9D,Plan - D,G03,2018-06-07,Elementary,No Refund
1,2018,0JWX77BI,Plan - B,SpE,2018-06-07,Special Education,No Refund
2,2018,0LZJ7928,Plan - A,G01,2018-05-18,Elementary,No Refund
3,2018,15RI5SWE,Plan - B,G03,2018-06-06,Elementary,No Refund
4,2018,1IGM0VHQ,Plan - A,G01,2018-05-04,Elementary,No Refund
...,...,...,...,...,...,...,...
2631,2026,X7V1JMDS,Plan - A,Kn2,2026-01-16,Pre-Elementary,No Refund
2632,2026,XO7E9JLP,Plan - A,G09,2026-01-16,Junior High,No Refund
2633,2026,YMJ3L6X6,Plan - B,G08,2026-01-19,Junior High,No Refund
2634,2026,Z3FMQ7JI,Plan - A,G05,2026-01-09,Elementary,No Refund
2635,2026,ZQB34VX6,Plan - A,SpE,2026-01-20,Special Education,No Refund

In [8]:
df_enrollees.to_excel(r"Database\enrollees_pseudonymized.xlsx", index=False)