In [1]:
import sys
sys.path.append(r"C:\Users\rjbel\Python\Notebooks\Mapua")

In [2]:
from DataLoaders.settings import Settings
from DataLoaders.revenues import Revenues
from DataLoaders.enrollees import Enrollees
from FeatureEngineering.credit_sales import CreditSales

In [3]:
setting = Settings()

settings = setting.get_configs()
directory = setting.get_sub_directories()

In [4]:
revenues = Revenues(directory['revenues_folder'], directory)
df_revenues = revenues.show_data()
df_revenues.reset_index(inplace=True)
df_revenues = df_revenues.rename(columns={'index': 'entry_number'})

Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2014.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2017.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2016.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2015.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2019.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2020.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2021.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2018.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2022.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2023.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2025.xlsx.
Finished loading C:/Users/rjbel/OneDrive/Synced/Gain Christian Academy/Databases/Revenues and Expenses\Revenues and Expenses - 2024.xlsx.

In [5]:
df_revenues

,entry_number,entry_date,due_date,school_year,student_id_pseudonimized,category_name,discount_refund_applied_to,amount_due,amount_paid,account_name,receivables
0,0,2016-01-01,2016-01-01,2016,QCNXOF71,Back Account,NaN,3524.0,0.0,Not Applicable,3524.0
1,1,2016-01-01,2016-01-01,2016,UFN5RBCA,Back Account,NaN,9831.0,0.0,Not Applicable,9831.0
2,2,2016-01-01,2016-01-01,2016,CATF26JR,Back Account,NaN,9240.0,0.0,Not Applicable,9240.0
3,3,2016-01-01,2016-01-01,2016,TE11Z2LJ,Back Account,NaN,5886.0,0.0,Not Applicable,5886.0
4,4,2016-01-01,2016-01-01,2016,LI5DFHZ5,Back Account,NaN,5650.0,0.0,Not Applicable,5650.0
...,...,...,...,...,...,...,...,...,...,...,...
48503,48532,2025-10-03,2025-10-03,2025,UZNNW33L,Events - Film Showing,NaN,450.0,450.0,Cash,0.0
48504,48533,2025-10-03,2025-10-03,2025,5NX2Y86F,Events - Film Showing,NaN,450.0,450.0,Cash,0.0
48505,48534,2025-10-03,2025-10-03,2025,A9DIVZWW,G08-C-2nd,NaN,0.0,3800.0,Cash,-3800.0
48506,48535,2025-10-03,2025-10-03,2025,YHSVJHFT,SpE-C-2nd-MAINSTREAM with pull-out,NaN,0.0,12000.0,Bank,-12000.0
48507,48536,2025-10-03,2025-10-03,2025,EEYQRIOT,G05-C-2nd,NaN,0.0,5800.0,Cash,-5800.0

In [6]:
df_revenues.to_excel(r"Database\revenues_pseudonymized.xlsx", index=False)

In [7]:
enr = Enrollees(df_revenues)
df_enrollees = enr.show_data()
df_enrollees

,school_year,student_id_pseudonimized,plan_type,grade_level,enrollment_date,education_level,has_refunded
0,2018,08GNGU9D,Plan - D,G03,2018-06-07,Elementary,No Refund
1,2018,0JWX77BI,Plan - B,SpE,2018-06-07,Special Education,No Refund
2,2018,0LZJ7928,Plan - A,G01,2018-05-18,Elementary,No Refund
3,2018,15RI5SWE,Plan - B,G03,2018-06-06,Elementary,No Refund
4,2018,1IGM0VHQ,Plan - A,G01,2018-05-04,Elementary,No Refund
...,...,...,...,...,...,...,...
2599,2025,ZHRMZVJR,Plan - C,G05,2025-04-11,Elementary,No Refund
2600,2025,ZND76ZHI,Plan - A,G01,2025-01-31,Elementary,No Refund
2601,2025,ZQB34VX6,Plan - B,SpE,2025-01-30,Special Education,No Refund
2602,2025,ZSI26BO0,Plan - C,Kn1,2025-05-31,Pre-Elementary,No Refund
2603,2025,ZXPL0CI9,Plan - C,G06,2025-05-27,Elementary,No Refund

In [8]:
df_enrollees.to_excel(r"Database\enrollees_pseudonymized.xlsx", index=False)